/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: whitesmoke;
  color: #333;
}

/* Header section */
.header {
  background-color: whitesmoke;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2F2D17
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #2F2D17;
  font-weight: 500;
}

/* Hero Section */

.hero {
  position: relative;
  /* height: 400px; */
  overflow: hidden;
}

.slider-container {
  position: relative;
  height: 400px;
}

.slider {
  display: flex;
  animation: slide 10s infinite;
  /*width: 400%;*/
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  45% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  70% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.slide {
  min-width: 100%;
  /* Full width for each slide */
  height: 400px;
  /* Fixed height for each slide */
  position: relative;
  /* To position the img absolutely */
}

.slide img {
  width: 100%;
  /* Full width image */
  height: 100%;
  /* Full height image */
  object-fit: cover;
  /* Maintain aspect ratio and fill the area */
}

.text-overlay {
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Offset the center */
  color: white;
  text-align: center;
  /* Center text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-overlay h2 {
  font-family: "Montserrat", sans-serif;
  /* Use Montserrat font */
  font-size: 48px;
  /* Smaller font size */
  margin-bottom: 20px;
  /* Space below the heading */
}

.text-overlay h4 {
  font-family: "Montserrat", sans-serif;
  /* Use Montserrat font */
  font-size: 18px;
  /* Smaller font size */
}

/* Portfolio Section */
.portfolio {
  padding: 3em 0;
  text-align: center;
  background-color: #fdfdf9;
}

.portfolio-gird {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.portfolio-item {
  text-align: center;
  width: 25%;
}

.portfolio-item img {
  width: 100%;
  border-radius: 10px;
}

.portfolio-item h3 {
  margin-top: 1em;
  font-size: 1.5em;
  color: #333;
}

/* Footer Section */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}